.UpdatePLan-container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UpdatePlan-content{
    width: 600px;
    height: 700px;
    background-color: white;
}