.action-success{
    min-width: 300px;
    max-width: 350px;
    height: 50px;
    position: fixed;
    z-index: 10;
    top: 32px;
    right: 32px;
    padding: 10px;
    border-left: 6px solid;
    border-radius: 5px;
    border-color: green;
    box-shadow: 0 5px 8px rgba(0, 0, 0,0.7);
    /* transform: translateX(calc(100% + 37px)); */
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    /* transition: right 0.5s ease-out;  
    animation: slideInLeft ease 10s; */
}
.action-success .icon{
    display: grid;
    width: 60px;
    height: 50px;
    font-size: 18px;
    place-items: center;
    color: green;
}
.action-success p {
    text-transform: uppercase;
    font-weight: 500;
}
@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 37px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}