.details-plan-container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.details-plan-content {
  width: 97vw;
  height: 97vh;

  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-plan-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;
  border: none;
  border-radius: 60px;
  background-color: white;
  padding: 30px;
}
.details-plan-form h1 {
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 450;
}
.details-plan-content form {
  width: 100%;
  height: 400px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-plan-infor {
  margin: 0px 10px;
  padding: 10px;
}

.details-plan-infor .form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 8px 0px;
}
.details-plan-infor .form-group .inspector-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-plan-infor .form-group .inspector-status select {
  margin: 0 10px;
}
.details-plan-infor .form-group .inspector-status button {
  width: 100px;
  height: 30px;
  text-transform: none;
}

.details-plan-infor .form-group .label span {
  color: red;
}
.details-plan-infor .form-group input {
  padding: 8px;
  width: 180px;
  margin-top: 5px;
  border-radius: 20px;
  border: 1px solid black;
}
.details-plan-infor .form-group select {
  padding: 8px;
  width: 200px;
  margin-top: 5px;
  border-radius: 20px;
  border: 1px solid black;
}

.details-plan-form button {
  width: 330px;
  height: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #f799a354;
  text-transform: uppercase;
}
.details-plan-form .x-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 30px;
}
.details-plan-form .x-icon:hover {
  background-color: #a1a1a1;
}
