
.Pause:nth-child(6){
    border-radius: 30px;
    text-align: center;
    color: red;
    background-color: #ffadad8f;
}
.Active:nth-child(6) {
    background-color: rgb(145 254 159/49%);
    color: green;
   border-radius: 30px;
   text-align: center;
}      
.Stores-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}  
.Stores-header button{
    width: 110px;
    height: 35px;
    background-color: #f799a354;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}