.AddStore-container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0,0, 0.6);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.AddStore-content{
    width: 800px;
    position: relative;
    background-color: white; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 12px; 
    border-radius: 30px;
}
.AddStore-content  form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
    width: 100%;
    
}
.AddStore-content  h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    
}
.AddStore-content  form .form-group{
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3px 0px;
}
.AddStore-content  form .form-input-control {
    height: 25px;
    border: none;
    border-radius: 30px;
}
.AddStore-content  form  select{
    height: 40px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 30px;
}

.AddStore-content  form .form-group input{
    border: 1px solid black;
    padding: 10px;
}
.AddStore-content  form .form-group input:focus{
    outline-color: #f799a354;
}
.AddStore-content  form label{
    text-align: start;
}

/* btn */

.AddStore-content  button{
   
   margin-top: 10px;
   width: 310px;
   height: 40px;
   border-radius: 30px;
   border: none;
   text-transform: uppercase;
   background-color: #d48088cd;
   cursor: pointer;

   font-weight: 500px;
   font-size: 14px;
}


.AddStore-content .x-icon{
    width: 40px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    border: none;
    border-radius: 30px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.AddStore-content .x-icon:hover{
    background-color: #a1a1a1;
}
