.ReactTable{
    width: 70%;
}

.ReactTable .rt-tbody .rt-td:last-child {
    border-right: 0;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.ReactTable .rt-tbody .rt-td:last-child button{
    cursor: pointer;
    background-color: #f799a354;
    border: none;
    width: 70px;
    height: 20px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 400;
   
}

.ManageAccount-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.ManageAccount-header button{
    width: 110px;
    height: 35px;
    background-color: #f799a354;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}