
.user-table-row{
  height: 12px;
}
.user-table-row .td-button button{
  width: 63px;
  height: 30px;
  background-color: #ffed86;
  border: none;
  cursor: pointer;
  margin: 0px 2px;
  border: none;
  border-radius: 10px;
 
}