.product-table-row td:last-child{
    margin: 0px 20px;
    width: 430px;
}
.product-table-row td{
    width: 100px;
}
.product-table-row td:last-child button {
    width: 120px;
    height: 40px;
    background-color: var(--activeItem);
    margin: 0px 6px;
    line-height: 10px;
}